<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362050500432-uk4dp6a52t6f5r133fv04d26gv23100u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362050500432-uk4dp6a52t6f5r133fv04d26gv23100u</string>
	<key>API_KEY</key>
	<string>AIzaSyCR2NFZNu4KStobUNWAkpZH7gCQ5kZmtfM</string>
	<key>GCM_SENDER_ID</key>
	<string>362050500432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.p-master.petch</string>
	<key>PROJECT_ID</key>
	<string>petch-563c4</string>
	<key>STORAGE_BUCKET</key>
	<string>petch-563c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362050500432:ios:e1822c921bec9cf60a5e55</string>
</dict>
</plist>